.login-page {
    min-height: 100vh;
    background: url('/public/images/login-bg.jpg') center / cover no-repeat;
    position: relative;
}

.login-page::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.103);
    z-index: 0;
}

.login-page > * {
    position: relative;
    z-index: 1;
}

.glass-card {
    background: rgba(255, 255, 255, 0);
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px); 
    border-radius: 16px;
    border: 1px solid rgba(255, 255, 255, 0.486);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25);
    color: #fff;
}

.glass-card .form-control {
    background: rgba(255, 255, 255, 0.15);
    border: 1px solid rgba(255, 255, 255, 0.3);
    color: #fff;
}

.glass-card .form-control:focus {
    background: rgba(255, 255, 255, 0.2);
    border-color: #c715a0;
    box-shadow: none;
}l

.glass-card .form-label {
    color: rgba(255,255,255,0.9);
}

.glass-card .form-check-label,
.glass-card a {
    color: rgba(255,255,255,0.85);
}

.glass-card a:hover {
    color: #fff;
}

.form-check-input:checked {
    background-color: purple;
    border-color: #0d6dfd00;
}

@supports not (backdrop-filter: blur(5px)) {
    .glass-card {
        background: rgba(88, 28, 135, 0.85);
    }
}
